.Header{
  background: linear-gradient(243deg, rgba(30, 33, 45, 0.699) 0%, rgba(49, 78, 82, 0.699) 89%);
  display: flex;
}
.musicContainer{
  background-color:red ;
}

label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/smallicons-controls/32/614397-x-64.png");
  left: 10px;
  top: 10px;
  z-index: 2;
  position: absolute;
}
:checked+label:before {
  content: none;
}
input[type=checkbox] {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music{
  animation: App-logo-spin infinite 20s linear;
  z-index: 1  ;
  margin-left: 10px;
  margin-top: 10px;
  width: 64px;
  height: 64px;
}
.notChecked{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
@keyframes example {
  0% {
  }
  20% {
    background-color: #207788;
  }
  50%{
    background-color: #8ac4d0;
    color: black;
  }
  80%{
    background-color: #207788;
  }
  100%{
  }
}
.link{
  border: 1px solid black;
  cursor: pointer;
  font-size: larger;
  background-color: #9c7a48;
  color: white;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  padding: 1em 2em;
}
.link:hover{
  animation-name: example;
  animation-duration: 2s;
  text-decoration: underline;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}
.linksContainer{
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .link{
    display: flex;
    align-items: center;
    padding: 5px 5px;
  }
  .music{
    width: 30px;
    height: 30px;
  }
  .notChecked{
    width: 25px;
    height: 25px;
  }
}